<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tiny RSS</title>
    <link rel=icon href="data:,">
    <link rel="stylesheet" href="posts/component/index.css">
  </head>
  <body>
    <header>
      <a href="/" data-turbo="false">&larr; Back</a>
    </header>
    <main>
      <section class="posts" id="posts">
        <% @posts.each do |post| -%>
          <article class="post<%= post[:starred_at].nil? ? '' : ' post_starred' %>" data-id="<%=post[:id]%>" data-link="<%= post[:link] %>">
            <section class="post__content <%= post[:viewed_at].nil? ? '' : 'post__content_viewed' %>">
              <div>
                <div class="post__title">
                  <%= post[:title] %>
                </div>
                <div class="post__info">
                  <%= "#{URI(post[:link]).host} / #{post[:published_at].strftime('%d %b %Y %H:%M %Z')}" %>
                </div>
              </div>
            </section>
          </article>
        <% end -%>
        <div class="page-end">
          <% if @posts.next_page -%>
            <a href="/posts?<%= URI.encode_www_form(@posts_params.to_h.merge(page: @posts.next_page)) -%>" hidden="" data-next-page>Next</a>
          <% end -%>
          <% if @posts_params[:unviewed] && !@posts.current_page_record_count.zero? && @posts.last_page? -%>
            <form action="/posts/view" method="post">
              <input type="hidden" name="_method" value="PUT" />
              <% @posts_params.to_h.each_pair do |key, value| %>
                <% if value -%>
                  <input type="hidden" name="<%= key %>" value="<%= value %>" />
                <% end -%>
              <% end -%>
              <input type="hidden" name="post[viewed_at]" value="<%= @posts_params[:published_lt] %>" />
              <button type="submit" class="button">Mark All As Viewed</button>
            </form>
          <% end -%>
          <% if @posts.pagination_record_count.zero? -%>
            <p>There are no articles.</p>
          <% end -%>
        </div>
      </section>
    </main>
    <template id="rss-post-tools">
      <style>
        .post__tools {
          display: flex;
          position: absolute;
          top: 16%;
          height: 40%;
          right: 37%;
          padding: 13px;
          justify-content: space-around;
          width: 25%;
          align-items: center;
          z-index: 1;
          background-color: white;
          border-radius: .6rem;
          border: 1px solid var(--black);
        }
        .post__tools-item {
          color: var(--gray);
          cursor: pointer;
          font-size: 30px;
        }
      </style>
        <div class="post__tools">
          <span id="starr" class="post__tools-item">
            🌟
          </span>
          <span id="copy-link" class="post__tools-item" data-copy-link>
            📋
          </span>
          <span id="redirect" class="post__tools-item" data-copy-link>
            🔗
          </span>
        </div>
    </template>
    <template id="flash-message">
      <style>
        div {
          text-align: center;
          background-color: var(--orange);
          color: var(--blank-strong);
          position: fixed;
          width: 100%;
          padding: 4px;
          margin-top: 60px;
          z-index: 1;
          color: var(--white);
        }
      </style>
      <div id="message"></div>
    </template>
    <script src="posts/component/index.js" async></script>
  </body>
</html>
