<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tiny RSS</title>
    <link rel=icon href="data:,">
    <link rel="stylesheet" href="posts/index.css">
    <script src="https://unpkg.com/@hotwired/turbo@8.0.5/dist/turbo.es2017-umd.js"></script>
    <script>
        Turbo.start(); // or other UMD functions
    </script>
  </head>
  <body>
    <header>
      <a href="/" data-turbo="false" style="text-decoration:none;font-size:18px;font-weight:bold;">
        Menu
      </a>
      <select onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
        <option value="">Select...</option>
        <option value="/posts?<%= URI.encode_www_form(@posts_params.to_h.compact.merge(template: 'magazine'))%>">Magazine</option>
        <option value="/posts?<%= URI.encode_www_form(@posts_params.to_h.compact.merge(template: 'titles'))%>">Titles</option>
        <option value="/posts?<%= URI.encode_www_form(@posts_params.to_h.compact.merge(template: 'compact'))%>">Compact</option>
      </select>
      <span>Rest: <strong id="rest-counter"><%= @posts_rest %></strong></span>
    </header>
    <main id="component-posts-infinity-scroll">
      <section class="posts" id="posts">
        <%= erb(:'/posts/posts', layout: false) %>
      </section>
    </main>
    <%= erb(:'/posts/ui_components', layout: false)  %>
    <script>
      window.addEventListener('scroll', (_event) => {
        if(window.scrollY + window.innerHeight >= (document.body.scrollHeight - 50)) {
          var posts = document.querySelector('#posts');
          var nextLink = Array.from(posts.querySelectorAll("a[data-next-page]")).pop();
          if(nextLink.tagName === 'A' && !nextLink.dataset['loaded']) {
            nextLink.dataset['loaded'] = true;
            nextLink.click();
          }
        }
      })
    </script>
  </body>
</html>
