<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=icon href="data:,">
    <title>New Post</title>
    <style>

        * {
          box-sizing: border-box;
        }
        body {
            font-family:Arial,Verdana,sans-serif;
            margin: 50px;
            background-color:#eff0f3;
        }
        form {
            padding: 20px;
            background-color: #fff;
            max-width: 700px;
            margin: auto;
        }
        label {
            display: block;
            margin-bottom: 8px;
            font-weight: bold;
        }
        input[type="url"], input[type="text"], textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            font-size: 16px;
            font-family: Arial;
        }
        input[type="submit"] {
            background-color: #ff8e3c;
            color: white;
            padding: 10px 15px;
            border: none;
            cursor: pointer;
            font-size: 16px;
        }
        fieldset {
            border: 1px solid #ddd;
            padding: 15px;
            margin-bottom: 20px;
        }
        legend {
            font-size: 18px;
            font-weight: bold;
        }
        img {
            display: block;
            max-width: 100%;
            margin-top: 10px;
        }
        .error-message {
          color: #d9376e;
        }
    </style>
</head>
<body>
    <% if @post %>
      <form action="/posts" method="POST">
          <label for="link">Link (URL):</label>
          <input type="url" id="link" name="link" placeholder="https://example.com" readonly required value="<%= @post[:link] %>">

            <fieldset>
                <legend>Link Details</legend>

                <label for="title">Title:</label>
                <input type="text" id="title" name="title" placeholder="Enter title here" required value="<%= @post[:title] %>">

                <label for="image">Image (URL):</label>
                <input type="url" id="image" name="image" placeholder="https://example.com/image.jpg" value="<%= @post[:image] %>">
                <img id="preview" src="<%= @post[:image] %>" alt="Image Preview" />

                <label for="description">Description:</label>
                <textarea id="description" name="description" rows="4" placeholder="Enter description here"><%= @post[:description] %></textarea>
            </fieldset>

          <input type="submit" value="Submit">
      </form>
    <% else %>
      <form action="/posts/check" method="POST">
          <label for="link">Link (URL):</label>
          <input type="url" id="link" name="link" placeholder="https://example.com" required value="<%= params['link'] %>">
          <input type="submit" value="Submit">
          <% if @error %>
            <p class="error-message">
              <strong>Unprocessable link</strong> <br>
              <%= @error.message %>
            </p>
          <% end %>
      </form>
    <% end %>
</body>
</html>

